[Unit]
Description=Nokia 5110 LCD based clock

[Service]
User=root
ExecStart=/usr/bin/python3 /root/pi-clock/main
Restart=always

[Install]
WantedBy=multi-user.target