[Unit]
Description=Nokia 5110 LCD based clock and system monitor
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/pi-clock/
ExecStart=/usr/bin/python3 /root/pi-clock/main
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target