[Unit]
Description=Nokia 5110 LCD based clock

[Service]
WorkingDirectory=/usr/lib/python3/dist-packages/pi-clock/
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/pi-clock/main
Restart=always

[Install]
WantedBy=multi-user.target